@charset "UTF-8";

/* ======================================================
  全体
========================================================*/
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
  color      : #383e45;
  font-size  : 1.2rem;
  line-height: 1.5;
}


h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.6rem;
  text-align: center;
  padding: 3% 0 1% 0;
  font-weight: bold;
}

h3 {
  font-size: 2.4rem;
}

h4,
h5,
h6 {
  font-size: 1.6rem;
  margin-bottom: 20px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor         : pointer;
}

a:hover {
  opacity: 0.7;
}

img {
  width: 100%;
  height: 100%;
  padding: 1%;
}

/* 共通＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
.wrapper {
  max-width: 1000px;
  padding: 0 5%;
  margin: 50px auto;
}

.flex {
  display: flex;
}

.btn {
  text-align: center;
}
/* moreボタン/sendボタン/backボタン */
.more-btn,
.send-btn,
.back-btn {
  display: inline-block;
  width: 80px;
  height: 30px;
  background-color: #000;
  color: #fff;
  text-align: center;
  margin: 50px auto 100px auto;
}

.more-btn:hover,
.send-btn:hover,
.back-btn:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}

.more-btn-text,
.send-btn-text,
.back-btn-text {
  line-height: 30px;
}

/* トップへ戻るボタン */
#top-btn {
  display: block;
  width: 50px;
  height: 50px;
  background-color: #000;
  text-align: center;
  border-radius: 50%;
  text-align: center;
  position: relative;
  position: fixed;
  right:24px;
  bottom: 50px;
  opacity: 0;
  transition: all 1s ease;
}

#top-btn.show {
  opacity: 1;
}

#top-btn .top-btn-arrow {
  width: 15px;
  height: 15px;
  border: 3px solid;
  border-color: #fff #fff transparent transparent;
  transform: rotate(-45deg);
  margin: 0 auto;
  position: absolute; 
  top: 22px;
  left: 0;
  right: 0;  
}
/* header============================================= */
#header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 10;
  width: 100%;
  height: 100px;
}

.header-init.flex {
  justify-content: space-between;
  align-items: center;
}

.menu-btn {
  width: 45px;
  height: 30px;
  border: 1px solid #C3C3C3;
  background-color: #ECEBEB;
  position: relative;
  border-radius: 3px;
  z-index: 20;
  transition: all 0.5s;
  cursor: pointer;
}

.menu-topline {
  width: 30px;
  height: 2px;
  background-color: #000;
  position: absolute;
  top: 25%;
  left: 15%; 
  transition: all 0.5s;
}

.open .menu-topline{
  transform: translateY(6px) rotate(-45deg);
}

.menu-baseline {
  width: 30px;
  height: 2px;
  background-color: #000;
  position: absolute;
  bottom: 25%;
  left: 15%; 
  transition: all 0.5s;
}

.open .menu-baseline{
  transform: translateY(-6px) rotate(45deg);
}

.global-menu {
  position: fixed;
  top: 10%;
  left: -5%;
  color: #fff;
  z-index: 20;
  opacity: 0;
  transition: all 1s;
}

.open .global-menu {
  opacity: 1;
  left: 5%;
}

#mask {
  display:none;
  transition: all 0.5s;
}

.open #mask {
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left:0;
  background-color: #4B4B4B;
  cursor: pointer;
}
/* main================================================ */
/* ＜トップページ(indx.html)＞ */
/* keyvisual */
#keyvisual {
  width: 100vw;
  height: 600px;
}

#keyvisual img {
  object-fit: cover;
}

/* pickup */
.key-thumbs.flex {
  justify-content: space-between;
}

.key-thumbs a {
  width: 20%;
  cursor: pointer;
}

/* products */
.product-item.flex {
  flex-wrap: wrap;
  justify-content: space-between;
}

.item {
  width: 33%;
  height: 350px;
  position: relative;
}

.item img {
  object-fit: contain;
}

.item-content {
  width:100%;
  position: absolute;
  left: 0;
  bottom: -10px;
  padding: 3%;
}

.item-cgr {
  text-align: right;
}

/* contact */
#contact {
  background-color: #ECEBEB;
  padding: 5%;
}

.contact-p {
  text-align: center;
  margin: 50px auto;
}

.form-label {
  display: block;
  text-align: left;
  font-weight: bold;
}

.form-input {
  width:100%;
  padding: 3%;
  border: 1px solid #000;
  margin-bottom: 30px;
}

/* ＜ピックアップ記事詳細ページ：single-post.html＞ */
#single-pickup {
  padding-top: 10%;
}

#single-pickup p {
  padding: 2%;
}

/* ＜商品詳細ページ(single-item)＞ */
picture {
  display: none;
}

.contents.flex {
  justify-content: space-between;
  padding:20% 0 10% 0; 
}

.left-thumb,
.right-spec {
  width: 47%;
}

.left-thumb img {
 object-fit: cover;
}

.spec-title {
  border-top: 1px solid #C3C3C3;
  border-bottom: 1px solid #C3C3C3;
  padding: 2%;
  font-weight: bold;
}

.spec-text {
  padding: 5% 0;
}

.price {
  padding: 10% 0;
}

.size-table  {
  width: 100%;
}

.size-table thead,
.size-table tbody {
  border: 1px solid #C3C3C3; 
}

.size-table th,
.size-table td {
  border-right: 1px solid #C3C3C3; 
  text-align: center;
  padding: 2%;
}

.size-table th:last-child,
.size-table td:last-child {
  border-right: none;
}

.size-table th {
  background-color: #ECEBEB;
}

.btn {
  text-align: center;
}

.to-cart-btn {
  display: inline-block;
  width: 80%;
  background-color: #C3C3C3;
  color: #000;
  padding: 3% 10%;
  margin: 50px 0;
  text-align: center;
}

/* ＜商品一覧ページ：archive-items.html＞ */
#allproducts {
  padding-top: 10%;
}

/* ＜QandAページ＞ */
#q-and-a {
  padding:10% 0; 
}

.qa-contents {
  padding: 0 1%;
}

#q-and-a h2 {
  margin-bottom: 50px;
}

.qa-contents h3 {
  position: relative;
  cursor: pointer;
  padding: 3%;
  border-top: 1px solid #C3C3C3;
  border-bottom: 1px solid #C3C3C3;
}

.qa-contents h3:hover {
  background-color: antiquewhite;
}

/* (open) */
.qa-contents h3.open {
  background-color: antiquewhite;
}

.qa-contents h3::before {
  content: '';
  width: 20px;
  height: 2px;
  background-color: #000;
  position: absolute;
  top: 50%;
  right: 5%;
}

.qa-contents h3::after {
  content: '';
  width: 20px;
  height: 2px;
  background-color: #000;
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(35%) rotate(90deg);
  transition: all 1s ease;
}

/* (open) */
.qa-contents h3.open::after {
  transform: translateY(0) rotate(0);
}

.qa-contents p {
  padding: 1%;
  display: none;
}

/* (open) */
.qa-contents h3.open p {
  display: block;
  background-color: #ECEBEB;
}

/* ＜aboutページ：page-about.html＞ */
#page-about {
  padding-top: 10%;
}

.about-content {
  width:500px;
  height: 550px;
  background-color: #ECEBEB;
  padding: 10%;
  position: relative;
}

.about-title {
  display: inline-block;
  border-bottom: 1px solid #000;
}

.about-text{
  margin: 10% 0;
}

.about-access dd {
  margin-bottom:20px; 
}

.about-thumb {
  width: 400px;
  height: 400px;
  position: absolute;
  top: 52%;
  right: 22%;
}
/* footer============================================= */
footer {
  background-color: #000;
  color: #fff;
  padding: 2%;
}

.footer-contents section {
  width: 35%;
  padding: 3%;
}

.footer-contents li {
  padding: 1% 0;
}

.footer-id-p {
  margin-bottom: 20px;
}

.footer-id-li li::before {
  content: '\025b6';
}

.footer-nav-li li {
  border-top: 1px solid #C3C3C3;
}

.footer-nav-li li:last-child {
  border-bottom: 1px solid #C3C3C3;
}

.footer-sns-size {
  display: inline-block;
  height: 200px;
}
#copyright {
  text-align: center;
}